/* Add your existing CSS here */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.scene {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#packImage {
    width: 250px;
    animation: levitate 2s infinite ease-in-out;
    transition: transform 0.5s, opacity 0.5s;
}

#revealButton {
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 16px;
}

.card {
    width: 250px;
    transition: transform 1s, opacity 1s;
    transform: scale(0) rotateY(100deg);
}

.card img {
    width: 100%;
    transition: transform 0.2s;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.8); */
}

.card img:active {
    transform: scale(1.05);
}

.cardText {
    position: absolute;
    bottom: 10%;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(20px);
}

.bgGlow {
    position: absolute;
}

.bgGlow object {
    width: 520px;
    z-index: -1;
    filter: blur(25px);
    animation: bgGlow 10s infinite alternate ease-in-out;
    animation-delay: 500ms;
}

#rotatingSVG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(25px);
    animation: rotateClockwise 20s linear infinite;
    transition: opacity 1s;
    opacity: 0;
    transform-origin: 50% 50%; /* Ensure rotation around its center */
}

@keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bgGlow {
    from {
        transform: rotate(0deg) scale(0.8);
        opacity: 0.5;
    }
    to {
        transform: rotate(-360deg) scale(1);
        opacity: 1;
    }
}