body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
}

.scene {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#blurredPackImage {
    position: absolute;
    width: 250px;
    filter: blur(50px);
    z-index: 0; /* Place it behind the main pack image */
    animation: levitate 2s infinite ease-in-out;
    opacity: .5; /* Ensure it starts fully opaque */
}

#packImage {
    width: 250px;
    animation: levitate 2s infinite ease-in-out;
    transition: transform 0.5s, opacity 0.5s;
}

#tapText {
    margin-top: 20px; /* Add some space above */
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
    font-weight: 800; /* extrabold */
}

.card {
    width: 250px;
    transition: transform 1s, opacity 1s;
    transform: scale(0) rotateY(100deg);
    position: relative; /* Ensure position for .cardText */
}

.card img {
    width: 100%;
    transition: transform 0.2s;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.8); */
}

.card img:active {
    transform: scale(1.05);
}

.cardText {
    margin-top: 40px; /* Add some space above */
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s, transform 1s;
    transform: translateY(20px);
    font-family: 'Inter', sans-serif;
}

.boosterDescription {
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    text-transform: lowercase;
    font-weight: 800;
}

.tapToContinue {
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: lowercase;
    font-weight: 500;
    margin-top: 4px;
}

.bgGlow {
    position: absolute;
}

.bgGlow object {
    width: 520px;
    z-index: -1;
    filter: blur(25px);
    animation: bgGlow 10s infinite alternate ease-in-out;
    animation-delay: 500ms;
}

#rotatingSVG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(25px);
    animation: rotateClockwise 20s linear infinite;
    transition: opacity 1s;
    opacity: 0;
    transform-origin: 50% 50%; /* Ensure rotation around its center */
}

@keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bgGlow {
    from {
        transform: rotate(0deg) scale(0.8);
        opacity: 0.5;
    }
    to {
        transform: rotate(-360deg) scale(1);
        opacity: 1;
    }
}